@charset "utf-8";
html * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0; padding: 0;}

body { margin: 0; font-family: 'Jeju Gothic'; font-size: 1rem; line-height: 1.5; }

/* 공통 스타일 */
.wrapper {
	width: 60.71428571428571%;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.txt-white {
	color: #fff;
}
.txt-darkblue {
	color: #4C67AB !important;
}
.txt-center {
	text-align: center;
}
.txt-normal{
	font-size: 1rem !important;
	line-height: 1.5 !important;
}
.txt-sm{
	font-size: 0.8125rem !important;
	line-height: 1.5 !important;
}
.p-sm {
	padding-top: 1rem !important;
	padding-bottom: 0.5rem !important;
}
.h-auto {
	height: auto !important;
}
.bg-ltgrey{
	background: #f5f5f5 !important;
}
.d-block{
	display: block;
}
/* 헤더 */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  padding-top: 14px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 1px #ededed;
  /*width: 100%;*/
	/* width: 1344px;
	position: absolute; */
}
.page-header * { margin-top: 0;}
.page-header a { display: block;}
.page-header .brand a {
    font-size: 0;
}
.page-header .brand {
  /*margin-top: 30px;*/
  float: left;
  padding-bottom: 0;
}
.page-header img { margin: 0px;}
.nav-up{
  padding: 5px 0 0;
}

/* gnb */
.page-gnb {
  float: right;  
  margin-right: -15px;
}
.page-gnb ul {
  /*margin-top: 28px;*/
  margin-bottom: 0;
  padding-left: 0;
}
.page-gnb li {
  float: left;
}
.page-gnb a {
  display: block;
  color: #444;
  line-height: 1;
  padding: 15px 0;
  margin: 0 15px;
}

.page-gnb a:hover {
  border-bottom: 3px solid #4C67AB;
  color: #4C67AB;
}

.page-gnb li.on a {
  border-bottom: 3px solid #4C67AB;
  color: #4C67AB;
}

/*************
*** 모달 팝업 디자인
**************/
.modal {
	  display: none;
      position: fixed;
      z-index: 999999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(255,255,255);
      background-color: rgba(255,255,255,0.4);
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 380px;
    text-align: center;
}
.modal-content p {
    color: #666;
    margin-top: 1rem;
    font-size: 0.85rem;
}
.modal-content button {
    border: none;
    padding: 5px;
    margin-top: 15px;
    color: #fff
}
.modal-content button.ok {
    background: #4660A4;
}
.modal-content button.cancel {
    background: #f33;
}
.modal-content button:hover,
.modal-content button:focus {
    text-decoration: none;
    cursor: pointer;
}


/* 컨테이너 */
.container {
  padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

[class*="content-0"]{
  position: relative;
  overflow: hidden; 
  height: 552px;
}
.slider {
  width: 300%;
  height: 552px;
}
.slider .slide {
  width: 33.33%;
	height: 552px;
  float: left;
}
button {
  cursor: pointer;
}
button:active, button:focus { border:none; outline: none;}

.btn-set {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -24px;
}
.btn-set .btn-prev {
  float: left;
}
.btn-set .btn-next {
  float: right;
}
.content-01 {
  background: url('../images/content-1/bg01.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content-01 .slide-1 {
}
.content-01 .slide-1 img{
  margin-top: 48px;
}
.content-01 .slide-1 .headline{
  margin-top: 305px;
  font-size: 3.75rem;
  line-height: 1.5;
  color: #99d3ff;
  text-shadow: 0px 0px 10px #4C67AB
}
.content-01 .slide-1 .subline{
  font-size: 1.5rem;
  text-shadow: 0px 0px 10px #4C67AB;
}

/*slide-4*/
.content-01 .slide-4{
  background: url('../images/content-1/bg02.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content-01 .slide-4 .headline span {
  color: #99d3ff;
}
.content-01 .slide-4 .headline{
  margin-top: 250px;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
  text-shadow: 0px 0px 5px #4C67AB;
  margin-bottom: 10px
}
.content-01 .slide-4 .subline{
  font-size: 1.12rem;
  text-shadow: none;
  color: #fff;
  text-shadow: 0px 0px 10px #444;
  list-style: circle;
}
.content-01 .slide-4 .col-7 h4 {
    color: #4C67AB;
    font-size: 1.25rem;
}
.content-01 .slide-4 .col-7 {
    margin-top: 150px;
    padding: 20px;
    background: rgba(255,255,255,0.6);
}

.content-02 {
  background: url('../images/content-2/bg01.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content-02 .slide-1 .headline{
  font-size: 1.5rem;
  line-height: 2;
  text-align: right;
}
.content-02 .slide-1 .headline>.bg{
  margin-top: 96px;
  font-size: 3.75rem;
  line-height: 1.2;
  text-align: right;
  background: #4C67AB;
  display: inline-block;
}
.content-02 .slide-1 .func01{
  margin-top: 48px;
}
.ico{
  width: 144px;
  height: 144px;
  margin-left: auto;
  margin-right: auto;
  background: #30406C;
  border-radius: 50%;
}
.ico>img{
  width: 73px;
  height: 73px;
  margin: 35px;
}
.content-02 .slide-1 .func01 .txt {
  text-align: center;
  line-height: 3;
  color: #fff
}
.content-02 .slide-2 {
  background: #fff;
}
.content-02 .slide-2 .headline,
.content-02 .slide-3 .headline{
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 48px;
  margin-bottom: 48px;
  color: #444;
  text-align: center;
}
.content-02 .slide-2 .headline>span,
.content-02 .slide-3 .headline>span{
  color: #4C67AB;
}
.content-02 .slide-3 .func *{
  text-align: center;
}
.content-02.h-auto{
	margin-top: 5rem;
}
.content-02 .slide-2 .func h4{
	font-size: 1rem;
	text-align: left;
}
.content-02 .slide-2 .func li.txt-sm{
	list-style: disc;
	text-align: left;
}
.content-02 .slide-2.bg-ltgrey{
	padding-bottom: 3rem;
}
.content-02 .slide-2 table {
	width: 100%;
}
.q-3 table td,
.q-3 table th,
.content-02 .slide-2 table td,
.content-02 .slide-2 table th {
	border: 1px solid #eee;
	padding: 5px;
}
.q-3 table thead tr th,
.q-3 table tbody tr th,
.content-02 .slide-2 table thead tr th,
.content-02 .slide-2 table tbody tr th {
	background: #eee;
	text-align: center;
	border: 1px solid #fff;
}
.q-3 table thead td,
.content-02 .slide-2 table td {
	background: #fff;
}

.content-02 .slide-3 {
  background: url('../images/content-2/bg03.png');
  background-attachment: fixed;
}
.content-02 .slide-3 .func>p{
  color: #444;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 6px;
}
.content-02 .slide-3 .func span{
  display: block;
  color: #F35656;
}
.content-02 .slide-3 .func>p.bg-arrow{
  margin-top: 48px;
  padding-top: 72px;
  background: url(../images/content-2/bg-arrow.png) no-repeat center;
}
.content-02 .slide-3 .func>.row{
  margin-top: 48px;
}
.content-02 .slide-3 .func>.row>li{
  width: 19%;
  height: 72px;
  float: left;
  margin-right: 1.25%;
    display: table;
}
.content-02 .slide-3 .func>.row>li.func-01,
.content-02 .slide-3 .func>.row>li.func-03,
.content-02 .slide-3 .func>.row>li.func-05{
  background: #4C67AB;
}
.content-02 .slide-3 .func>.row>li.func-02,
.content-02 .slide-3 .func>.row>li.func-04{
  background: #8EA4B9;
}
.content-02 .slide-3 .func>.row>li.func-05{
  margin-right: 0;
}
.content-02 .slide-3 .func>.row>li>p{
  vertical-align: middle;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.7143;
  display: table-cell;
}
.content-02 .slide-3 .func>.row>li.func-01>p{
  margin-top: 12px;
}

.content-03{
  background: url('../images/content-3/bg01.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content-03 .headline,
.content-04 .headline,
.content-05 .headline,
.content-06 .headline {
  font-size: 3rem;
  line-height: 1;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  color: #fff;
}
.content-03 .video-list p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 2.5;
  margin-bottom: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content-04{
  background: url('../images/content-4/bg01.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content-04 .headline {
  margin-bottom: 24px;
}
.content-04 .subline {
  margin-bottom: 24px;
  text-align: center;
  color: #fff
}
.content-04 .subline span{
  color: #99D2FE;
}
.down-btn-group{
  margin-bottom: 24px;
}
.down-btn-group li.btn01 {
  background: #FDFDFD;
  border-radius: 15px;
}
.down-btn-group li.btn02 {
  background: #FDFDFD;
  border-radius: 15px;
}
.down-btn-group button {
  width: 100%;
  height: 192px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  color: #444;
}
.down-btn-group li.btn01 button{
  background: url(../images/content-4/btn-bg01.svg) no-repeat center 30px;
  background-size: 46px 82px;
}
.down-btn-group li.btn02 button{
  background: url(../images/content-4/btn-bg02.svg) no-repeat center 30px;
  background-size: 82px 82px;
}
.content-04 .slide-2 .li-download {
  padding: 12px 18px;
  margin-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 11;
}
.content-04 .slide-2 .li-download a{
  padding: 3px 42px;
  background: url('../images/content-4/list-bg01.svg') no-repeat;
  background-size: 24px;
  text-decoration: none;
  color: #444;
}

.content-05 .headline,
.content-06 .headline {
  color: #444
}
.news-list  {
  font-size: 0;
}
.news-list a{
  color: #444;
}
.news-list p {
  height: 48px;
  line-height: 3;
  font-size: 1rem;
  text-align: center;
  text-overflow: ellipsis;
  background: #e5e5e5;
}

.content-06 {
    background: #f7f7f7;
}
.map .location {
  margin-top: 24px;
  margin-bottom: 48px;
  color: #444;
  text-align: center;
}
.map .location span {
  color: #4c67ad;
}

.footer {
  background: url(../images/footer/bg01.png);
}
.footer>.row {
padding: 94px 0;
  border-bottom: 1px solid #666;
}
.footer>.row>.col-4>img {
  display: block;
  margin: 9px auto 0;
}
.footer p {
  width: 260px;
  margin: 35px auto 0;
  font-size: 0.875rem;
  line-height: 1.7143;
  color: #fff;
  text-align: center;
  letter-spacing: 0.025em;
}
.footer p.copyright {
  width: 100%;
  color: #666;
  margin: 0;
  padding: 48px 0;
  letter-spacing: 0;
}

span[class*="col-"] {
  text-align: center;
}
div.bg-blue {
  background: #4C67AB;
  color: #fff;
  padding: 15px 0;
}
.detail-01 .panel-body {
  margin-top: 24px;
  margin-bottom: 24px;
}
.detail-01 .top {
  background: #3e465f;
  margin-bottom: 48px;
}
.detail-01 .top>.row {
  background: url('../images/detail/bg01.jpg') no-repeat center;
  background-size: 85.71428571428571% 100%;
}
.detail-01 h3 {
  color: #dfdfdf;
  margin-top: 72px;
  margin-bottom: 0;
  font-size: 2.25rem;
  line-height: 1.3333;
}
.detail-01 h4 {
  color: #dfdfdf;
  font-size: 0.875rem;
  line-height: 1.7143;
  padding-bottom: 96px;
}

.queryone .content-02 .slide-1 {
  background: url(../images/content-1/bg03.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.queryone .q-1{
  height: 360px;
  background: url(../images/content-1/bg02.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  margin-bottom: 3em;
}
.queryone .content-02 .slide-1 .headline {
    text-align: center;
}
.queryone.detail-01 h3 {
    margin-top: 2em;
}
.queryone .ico{
  background: none;
}
[class*=q-] h5 {
  font-size: 1.5rem;
  line-height: 2;
  padding-top: 6em;
}
[class*=q-] p {
  font-size: 0.875rem;
  line-height: 1.7143;
  margin-top: 24px;
}
.queryone .q-2 {
  margin-bottom: 48px;
}
.queryone .q-2 img,
.queryone .q-3 img {
  margin-left: auto;
  margin-right: auto;
}
.queryone .q-3 {
  margin-bottom: 48px;
}
.queryone .q-3 h5{
  text-align: center;
}
.queryone .q-3 li {
  margin-bottom: 24px;
}
.queryone .q-3 li .col-4 {
  margin-top: 24px;
}
.queryone .q-3 .title{
  font-size: 1.25rem;
  background: #dff;
  padding-left: 15px
}

.queryone-s li {
  font-size: 0px;
}
.queryone-s ul.ex li {
	font-size: 1rem;
	line-height: 1.5;
	list-style: circle;
	margin-bottom: 0;
}
.queryone-s .img-ex {
	margin: 3em 0;
}
.queryone-s .col-8 {
  margin-bottom: 24px;
}
.queryone-s .q-1{
  background: #f5f5f5;
  text-align: center;
  margin-bottom: 3em;
  padding-bottom: 5em;
}

.queryone-s [class*=q-] h5 {
  font-size: 1.5rem;
  line-height: 2;
  padding-top: 72px;
}
.queryone-s .q-2 h5 {
  font-size: 1.5rem;
  line-height: 2;
  padding-top: 0px;
  padding-bottom: 48px;
  text-align: center;
}
.queryone-s .q-2 .col-4 {
  text-align: center;
  margin-bottom: 48px;
}
.queryone-s .q-2 .col-4 p {
  margin-top: 0;
}
.queryone-s .q-2 .col-4 .title {
  color: #4c67ad;
  font-size: 1rem;
  line-height: 2.4;
  margin-top: 0;
}
.queryone-s .q-3 li {
  margin-bottom: 24px;
}
.queryone-s .q-3 li .title {
  font-size: 1.5rem;
  line-height: 1;
}
.queryone-s .q-3 table {
	margin-bottom: 5rem;
}



.video .col-4 {
  margin-bottom: 24px;
  font-size: 0;
}


/*지원db목록table*/
/* 테이블 설정 */
table {
	width: 100%;
	border-collapse:collapse;
	border-spacing: 0;
}
summary { 
	display:none;
}

.db-table table {
    margin: 40px 0;
}
.db-table table caption {
    margin-bottom: 20px;
    font-size: 2rem;
}
.db-table table thead tr {background: #eee;}
.db-table table thead th {padding: 5px; border: 1px solid #fff;}
.db-table table tbody th {background: #eee; border: 1px solid #fff;}

.db-table table tbody tr:nth-child(4),
.db-table table tbody tr:nth-child(5),
.db-table table tbody tr:nth-child(6){
    background: #fcc;
}
.db-table table tbody td:nth-child(2){
    background: #fcc
}
.db-table table td{
    text-align: center;
    border: 1px solid #f5f5f5
}


/* 문의하기 */
.detail-01 .qna p {
    margin-bottom: 1em;
    font-size: 1.5em
}
.detail-01 .qna textarea,
.detail-01 .qna input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px
}
.detail-01 .qna textarea {
    height: 400px;
}
.detail-01 .qna button {
    padding: 5px;
    margin-bottom: 4em;
    border-radius: 5px;
    color: #fff;
    box-shadow: 1px 1px 3px #aaa
}
.detail-01 .qna button[type="reset"] {
    background: #ff3333;
}
.detail-01 .qna button[type="submit"] {
    background: #4C67AD;
}
.detail-01 .qna button[type="reset"]:hover {
    background: #ff2211;
}
.detail-01 .qna button[type="submit"]:hover {
    background: #4455bb;
}

@media screen and (max-width: 1366px) {
  html{
    font-size: 80%;
  }
}