@charset "utf-8";

.container {
    width: 100%;
    min-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

/*클리어픽스*/
.clearfix:after, .clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/*로우모듈*/
.row { position: relative; }

.row:after, .row::after {
    content: '';
    display: block;
    clear: both;
}

/*컬럼모듈*/
[class*="col-"] { float: left; margin-left: 0.8928571428571428%; margin-right: 0.8928571428571428% }

.col-1  {width: 4.464285714285714%;}
.col-2  {width: 10.714285714285714%;}
.col-3  {width: 16.964285714285715%;}
.col-4  {width: 23.214285714285715%;}
.col-5  {width: 29.464285714285715%;}
.col-6  {width: 35.714285714285715%;}
.col-7  {width: 41.964285714285715%;}
.col-8  {width: 48.214285714285715%;}
.col-9  {width: 54.46428571428571%;}
.col-10 {width: 60.71428571428571%;}
.col-11 {width: 66.96428571428571%;}
.col-12 {width: 73.21428571428571%;}
.col-13 {width: 79.46428571428571%;}
.col-14 {width: 85.71428571428571%;}
.col-15 {width: 91.96428571428571%;}
.col-16 {width: 98.21428571428571%;}

/*푸쉬, 풀 모듈*/
[class*="push-"],
[class*="pull-"] { position: relative; }

.push-1  {left: 6.25%;}
.push-2  {left: 12.5%;}
.push-3  {left: 18.75%;}
.push-4  {left: 25%;}
.push-5  {left: 31.25%;}
.push-6  {left: 37.5%;}
.push-7  {left: 43.75%;}
.push-8  {left: 50%;}
.push-9  {left: 56.25%;}
.push-10 {left: 62.5%;}
.push-11 {left: 68.75%;}
.push-12 {left: 75%;}
.push-13 {left: 81.25%;}
.push-14 {left: 87.5%;}
.push-15 {left: 93.75%;}
.push-16 {left: 100%;}

.pull-1  {left: -6.25%;}
.pull-2  {left: -12.5%;}
.pull-3  {left: -18.75%;}
.pull-4  {left: -25%;}
.pull-5  {left: -31.25%;}
.pull-6  {left: -37.5%;}
.pull-7  {left: -43.75%;}
.pull-8  {left: -50%;}
.pull-9  {left: -56.25%;}
.pull-10 {left: -62.5%;}
.pull-11 {left: -68.75%;}
.pull-12 {left: -75%;}
.pull-13 {left: -81.25%;}
.pull-14 {left: -87.5%;}
.pull-15 {left: -93.75%;}
.pull-16 {left: -100%;}

/*프리픽스, 서픽스 모듈*/
.prefix-1  {margin-left: 7.142857142857142%;}
.prefix-2  {margin-left: 13.392857142857142%;}
.prefix-3  {margin-left: 19.642857142857142%;}
.prefix-4  {margin-left: 25.892857142857146%;}
.prefix-5  {margin-left: 32.142857142857146%;}
.prefix-6  {margin-left: 38.392857142857146%;}
.prefix-7  {margin-left: 44.642857142857146%;}
.prefix-8  {margin-left: 50.89285714285714%;}
.prefix-9  {margin-left: 57.14285714285714%;}
.prefix-10 {margin-left: 63.39285714285714%;}
.prefix-11 {margin-left: 69.64285714285714%;}
.prefix-12 {margin-left: 75.89285714285714%;}
.prefix-13 {margin-left: 82.14285714285714%;}
.prefix-14 {margin-left: 88.39285714285714%;}
.prefix-15 {margin-left: 94.64285714285714%;}
.prefix-16 {margin-left: 100.89285714285714%;}

.suffix-1  {margin-right: 7.142857142857142%;}
.suffix-2  {margin-right: 13.392857142857142%;}
.suffix-3  {margin-right: 19.642857142857142%;}
.suffix-4  {margin-right: 25.892857142857146%;}
.suffix-5  {margin-right: 32.142857142857146%;}
.suffix-6  {margin-right: 38.392857142857146%;}
.suffix-7  {margin-right: 44.642857142857146%;}
.suffix-8  {margin-right: 50.89285714285714%;}
.suffix-9  {margin-right: 57.14285714285714%;}
.suffix-10 {margin-right: 63.39285714285714%;}
.suffix-11 {margin-right: 69.64285714285714%;}
.suffix-12 {margin-right: 75.89285714285714%;}
.suffix-13 {margin-right: 82.14285714285714%;}
.suffix-14 {margin-right: 88.39285714285714%;}
.suffix-15 {margin-right: 94.64285714285714%;}
.suffix-16 {margin-right: 100.89285714285714%;}


/****************
    확장 리스트뷰
****************/
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.panel {
  background-color: #efefef;
}
.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}
.panel-body:after {
  clear: both;
}
.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}
.panel-body:after {
  clear: both;
}
.panel-heading {
  padding: 17px 0px;
  border-top: 1px solid #dedede;
}
.panel-heading a {
  color: #444;    
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse{
  border-top: 1px solid #dedede;
}
.panel-default {
  border-color: #dedede;
}
.panel-default > .panel-heading {
  color: #444;
  background-color: #fff;
  border-color: #dedede;
}
.panel-default > .panel-heading + .panel-collapse {
  border-top-color: #dedede;
}


/**************
    페이지네이션
**************/
.text-center {
  text-align: center;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.chevron-left {
    display: inline-block;
    border-left:10px solid transparent;
    border-bottom:10px solid #444; 
    transform:rotate(-225deg);
    -ms-transform:rotate(-225deg);
    -webkit-transform:rotate(-225deg);
    -moz-transform:rotate(-225deg);
    -o-transform:rotate(-225deg);}
.chevron-right {
    display: inline-block;
    border-right:10px solid transparent;
    border-bottom:10px solid #444; 
    transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
}

/************* 
    슬라이드
*************/
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner .item {
  position: relative;
  display: none;
  -webkit-transition: 2s ease-in-out left;
          transition: 2s ease-in-out left;
}.carousel-inner .item2 {
  position: relative;
  display: none;
  -webkit-transition: 2.5s ease-in-out left;
          transition: 2.5s ease-in-out left;
}
.carousel-inner .active,
.carousel-inner .next,
.carousel-inner .prev {
  display: block;
}
.carousel-inner .active {
  left: 0;
}
.carousel-inner .next,
.carousel-inner .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner .next {
  left: 100%;
}
.carousel-inner .prev {
  left: -100%;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  left: 0;
}
.carousel-inner .active.left {
  left: -100%;
}
.carousel-inner .active.right {
  left: 100%;
}
.carousel-control {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}